@media screen and (min-width: 0px) {
  .container {
    width: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  section {
    padding: 94px 0;
  }
}
.button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button:hover, .buttonfocus {
  background-color: #188CE8;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-style: inherit;
  border: transparent 0 solid;
  padding: 0;
}

.icon {
  fill: #212121;
}

.text--blue {
  color: #2196F3;
}

.text--black {
  color: #000000;
}

@media screen and (min-width: 0px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .header__icon--menu {
    fill: #000000;
  }
}
@media screen and (max-width: 767px) {
  .nav,
.header__contact {
    display: none;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile__container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-open {
    opacity: 1;
    visibility: visible;
  }
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__mobile {
    position: relative;
  }
  .close__button--header {
    position: fixed;
    top: 25px;
    right: 25px;
  }
  .mobile__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .nav__link--mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .number__link--mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mail__link--mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile__socNet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .socNet__item--mobile {
    padding: 0 10px;
  }
  .socNet__item--mobile + .socNet__item--mobile {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .socNet__item--mobile:first-child {
    padding-left: 0;
  }
  .socNet__item--mobile:last-child {
    padding-right: 0;
  }
  .socNet__link--mobile {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header__icon--menu,
.mobile__container {
    display: none;
  }
  .logo {
    margin-right: 87px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 96px;
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__item {
    position: relative;
  }
  .nav__link {
    display: block;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus, .nav__link--active {
    color: #2196F3;
  }
  .nav__link:hover::after, .nav__link:focus::after, .nav__link--active::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #2196F3;
    left: 0;
    bottom: 0;
  }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contact__box {
    margin: auto 0;
  }
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196F3;
  }
  .contact__link:hover .icon, .contact__link:focus .icon {
    fill: #2196F3;
  }
  .mail__link--header {
    margin-bottom: 10px;
  }
  .mail__icon {
    width: 14px;
    height: 10px;
  }
  .number__icon {
    width: 10px;
    height: 14px;
  }
  .contact__icon {
    fill: #757575;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    margin-right: 92px;
  }
  .nav {
    margin: 0;
  }
  .contact__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__link {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .mail__icon {
    width: 16px;
    height: 12px;
  }
  .number__icon {
    width: 10px;
    height: 16px;
  }
  .contact__icon {
    margin-right: 10px;
  }
}
@media screen and (min-width: 0px) {
  .footer {
    padding: 60px 0;
    background-color: #2F303A;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .text--white {
    color: #ffffff;
  }
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
  }
  .address__map {
    color: #ffffff;
  }
  .address__contact {
    color: rgba(255, 255, 255, 0.6);
  }
  .socialNetwork--footer {
    margin-bottom: 60px;
  }
  .socialNetwork__title--footer,
.mailingList__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .socialNetwork__box--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .socialNetwork__item--footer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    height: 44px;
    width: 44px;
    padding: 12px;
  }
  .socialNetwork__item--footer:first-child {
    margin-left: auto;
  }
  .socialNetwork__item--footer:last-child {
    margin-right: auto;
  }
  .socialNetwork__link--footer {
    display: block;
  }
  .socialNetwork__icon--footer {
    fill: #ffffff;
  }
  .mailingList__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
  }
  .footer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .button__text--footer {
    margin-right: 10px;
    margin-left: auto;
  }
  .button__icon--footer {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__contact {
    width: 50%;
  }
  .footer__logo {
    margin-right: 0;
  }
  .socialNetwork--footer {
    width: 50%;
  }
  .mailingList {
    margin-left: auto;
    margin-right: auto;
  }
  .mailingList__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    width: auto;
    margin-right: 70px;
    text-align: left;
  }
  .address {
    gap: 9px;
    margin-bottom: 0;
  }
  .socialNetwork--footer {
    width: auto;
    margin-right: 93px;
    margin-bottom: 0;
  }
  .socialNetwork__item--footer {
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialNetwork__item--footer:hover, .socialNetwork__item--footer:focus {
    background-color: #2196F3;
  }
  .mailingList__input {
    width: 358px;
    margin-bottom: 0;
  }
  .mailingList__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
  }
  .socialNetwork__title--footer,
.mailingList__title {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
@media screen and (min-width: 0px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-mobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile.jpg);
  }
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}
@media screen and (min-devixe-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-mobile@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tablet.jpg);
    padding: 118px 0;
  }
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-devixe-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-tablet@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desktop.jpg);
    padding: 200px 0;
  }
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-devixe-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-desktop@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-desktop@2x.jpg);
  }
}
@media screen and (min-width: 0px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 450px;
    height: 609px;
    padding: 40px;
    background-color: #ffffff;
  }
  .backdrop--hidden .modal {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .modal__cross {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal__cross .icon {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__cross:hover .icon,
.modal__cross:focus .icon {
    fill: #2196F3;
  }
  .modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
  .modal__input,
.modal__textarea {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__input:focus, .modal__input:focus-visible,
.modal__textarea:focus,
.modal__textarea:focus-visible {
    border-color: #2196F3;
    outline: 1px solid #2196F3;
  }
  .modal__input {
    padding: 11px 40px;
  }
  .modal__textarea {
    padding: 12px 16px;
    display: block;
    resize: none;
  }
  .modal__row {
    display: block;
    position: relative;
    text-align: left;
    margin-bottom: 10px;
  }
  .modal__text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: #757575;
  }
  .modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translate(-50% -50%);
            transform: translate(-50% -50%);
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__input:focus + .modal__icon {
    fill: #2196F3;
  }
  .agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .agreement__box {
    margin-right: 8px;
    height: 16px;
  }
  .agreement__icon {
    border: 2px #212121 solid;
    border-radius: 2px;
    margin: 0;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .agreement__checkbox:checked + .agreement__box .agreement__icon {
    background-color: #2196F3;
    border-color: #2196F3;
  }
  .agreement__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .agreement__link {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #2196F3;
  }
  .modal__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 0px) {
  .peculiarities__item {
    width: 100%;
  }
  .peculiarities__picture {
    text-align: center;
    margin-bottom: 30px;
    padding: 25px 0;
    background-color: #F5F4FA;
  }
  .peculiarities__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: #212121;
  }
  .peculiarities__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: #757575;
  }
}
@media screen and (min-width: 768px) {
  .peculiarities__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .peculiarities__item {
    width: calc(50% - 15px);
  }
  .peculiarities__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .peculiarities__item {
    width: calc(25% - 22.5px);
  }
}
@media screen and (max-width: 1199px) {
  .whatWeDo {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .whatWeDo__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatWeDo__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .whatWeDo__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .whatWeDo__item {
    position: relative;
  }
  .whatWeDo__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
@media screen and (min-width: 0px) {
  .team {
    background-color: #F5F4FA;
  }
  .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
  .team__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team__img {
    width: 100%;
    margin-bottom: 30px;
  }
  .team__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: #212121;
  }
  .team__jobTitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }
  .socialNetwork__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
  .socialNetwork__icon {
    margin: 12px;
    fill: #AFB1B8;
  }
}
@media screen and (min-width: 768px) {
  .team__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(25% - 22.5px);
  }
  .socialNetwork__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialNetwork__link:hover, .socialNetwork__link:focus {
    background-color: #2196F3;
  }
  .socialNetwork__icon {
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socialNetwork__link:hover .socialNetwork__icon, .socialNetwork__link:focus .socialNetwork__icon {
    fill: #ffffff;
  }
}
@media screen and (min-width: 0px) {
  .client__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .client__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
  }
  .client__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .client__link {
    width: calc(50% - 15px);
    padding: 16px 0;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client__link:hover, .client__link:focus {
    border-color: #2196F3;
  }
  .client__icon {
    fill: #AFB1B8;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client__link:hover .client__icon, .client__link:focus .client__icon {
    fill: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: calc(33.3% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: calc(16.66% - 25px);
  }
}
@media screen and (min-width: 0px) {
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
  .portfolio__filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 8px;
  }
  .portfolio__link {
    background: #F5F4FA;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__link:hover, .portfolio__link:focus, .portfolio__link--active {
    background-color: #2196F3;
  }
  .portfolio__button {
    width: auto;
    margin: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #000000;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__link:hover .portfolio__button, .portfolio__link:focus .portfolio__button, .portfolio__link--active .portfolio__button {
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__link:first-child {
    margin-left: auto;
  }
  .portfolio__link:last-child {
    margin-right: auto;
  }
}
@media screen and (min-width: 0px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    gap: 30px;
  }
  .examples__link {
    width: 100%;
    border: 1px solid #EEEEEE;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .examples__link:hover, .examples__link:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .examples__img {
    position: relative;
    overflow: hidden;
  }
  .examples__description {
    background-color: rgba(33, 150, 243, 0.9);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
    padding: 77px 24px;
  }
  .examples__link:hover .examples__description, .examples__link:focus .examples__description {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .examples__description p {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.56;
    margin: 0;
  }
  .examples__title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 20px 24px 4px;
  }
  .examples__text {
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    margin-bottom: 20px;
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .examples__link {
    width: calc(50% - 15px);
  }
  .examples__description {
    padding: 49px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__link {
    width: calc(33.33% - 20px);
  }
  .examples__description {
    padding: 63px 24px;
  }
}/*# sourceMappingURL=main.css.map */