.peculiarities__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.peculiarities__item {
    width: calc((100% - 90px) / 4);
}

.peculiarities__picture {
    padding-top: 25px;
    padding-right: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    margin-bottom: 30px;

    background-color: $secondary-background-color;
}

.peculiarities__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.peculiarities__text {
    font-size: 14px;
    line-height: 1.71;

    margin-top: 10px;

    color: $secondary-text-color;
}