.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    width: 528px;
    height: 581px;

    padding: 40px;

    background-color: $color-white;

    .backdrop--hidden & {
        transform: scale(1.1);
    }
}

.modal__cross {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    background-color: $color-white;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
}

.modal__cross .icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__cross:hover &,
    .modal__cross:focus & {
        fill: $thirdary-text-color;
    }
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;

    margin-bottom: 15px;

    color: $primary-text-color;
}

.modal__input,
.modal__textarea {
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:focus-visible {
        border-color: $thirdary-text-color;
        outline: 1px solid $thirdary-text-color;
    }
}

.modal__input {
    padding: 11px 40px;
}

.modal__textarea {
    padding: 12px 16px;

    display: block;

    resize: none;
}

.modal__row {
    display: block;
    position: relative;

    text-align: left;

    margin-bottom: 10px;
}

.modal__text {
    display: block;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: $secondary-text-color;
}

.modal__icon {
    position: absolute;

    top: 50%;
    left: 12px;

    transform: translate(-50% -50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__input:focus + & {
        fill: $thirdary-text-color;
    }
}

.agreement {
    display: flex;

    text-align: left;
    align-items: center;

    margin-bottom: 30px;
}

.agreement__icon {
    border: 2px $primary-text-color solid;
    border-radius: 2px;

    margin-right: 8px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .agreement__checkbox:checked + & {
        background-color: $thirdary-text-color;
        border-color: $thirdary-text-color;
    }
}

.agreement__text {
    font-size: 14px;
    line-height: 1.71;

    color: $secondary-text-color;
}

.agreement__link {
    text-decoration-line: underline;

    color: $thirdary-text-color;
}

.modal__button {
    margin: 0 auto;

    &:hover,
    &:after {
        background-color: $secondary-bgc-hero-link-color;
    }
}

.button__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    margin: 0 auto;

    color: $color-white;
}