$primary-text-color: #212121;
$secondary-text-color: #757575;
$thirdary-text-color: #2196F3;
$primary-background-color: #F5F5F5;
$secondary-background-color: #F5F4FA;
$thirdary-background-color: #2F303A;
$secondary-bgc-link-color: #188CE8;
$under-header-border: #ECECEC;
$icon-color: #AFB1B8;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #EEEEEE;
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);